<div>

  <h1 *ngIf="!this.user">
    Adauga Utilizator
  </h1>

  <h1 *ngIf="this.user">
    Editeaza: {{this.user.username}}
  </h1>

  <div class="form_adaugare">

    <input type="text" [formControl]="inputUsername" placeholder="Username" autocomplete="off">
    <br>
    <mat-error *ngIf="this.inputUsername.value==''">
      Username-ul este obligatoriu
    </mat-error>
    <br>

    <input type="password" [formControl]="inputPassword" placeholder="Parola" autocomplete="off">
    <br>
    <mat-error *ngIf="this.inputPassword.value==''">
      Parola este obligatorie
    </mat-error>
    <br>

    <input type="text" [formControl]="inputEmail" placeholder="Email">
    <br>
    <mat-error *ngIf="this.inputEmail.value==''">
      Email-ul este obligatoriu
    </mat-error>
    <br>

    <select [formControl]="inputRole" placeholder="Role">
      <option *ngFor="let role of this.UserRoles" value="{{role.roleId}}">
        {{role.roleName}}
      </option>
    </select>
    <br>
    <mat-error *ngIf="this.inputRole.value==''">
      Rolul este obligatoriu
    </mat-error>
    <br>

    <button type="button" class="close_button" (click)="redirect_inapoi()">Anuleaza</button>

    <button mat-raised-button type="button" color="lightorange" (click)="adauga_editeaza_user()">
      {{this.button_type}}
    </button>

  </div>

</div>
