<div *ngIf="this.id_categorie || this.produs">

    <h1 *ngIf="this.categorie">
      Adauga: {{this.categorie['numeCategorie']}}
    </h1>

    <h1 *ngIf="this.produs">
      Editeaza: {{this.produs.nume}}
    </h1>

    <div class="form_adaugare">

    <input type="text" [formControl]="inputNume" placeholder="Nume Produs">
    <br>
    <mat-error *ngIf="this.inputNume.value==''">
      Numele este obligatoriu
    </mat-error>
    <br>

    <input type="text" [formControl]="inputDescriere" placeholder="Descriere Produs">
    <br>
    <br>

    <input type="text" [formControl]="inputGramaj" placeholder="Gramaj Produs">
    <br>
    <mat-error *ngIf="this.inputGramaj.value==''">
      Gramajul este obligatoriu
    </mat-error>
    <br>

    <input type="number" [formControl]="inputPret" placeholder="Pret Produs">
    <br>
    <mat-error *ngIf="this.inputPret.value==''">
      Pretul este obligatoriu
    </mat-error>
    <br>


    <button type="button" class="close_button" (click)="redirect_inapoi()">Anuleaza</button>

    <button mat-raised-button type="button" color="lightorange" (click)="adauga_editeaza_produs()">
      {{this.button_type}}
    </button>

    </div>

</div>
