<div class="allPage">
    <div *ngIf="this.iduser!=null">
    <button mat-raised-button type="button" (click)="Delogare()">Delogare</button>
     Logat ca: {{this.username}}
    </div>
    <div *ngIf="this.iduser==null">
        <button mat-raised-button type="button" (click)="Logare()">Logare</button>
    </div>
    <mat-tab-group>

        <mat-tab label="Toate Produsele">
            <br>
            <button mat-raised-button type="button" (click)="produsNou()">Adauga Produs</button>

            <ng-container *ngFor="let produs of this.Produse">
                <hr>
                <div class="produs">
                    <br>
                    <b>Produs: {{produs.denumire}}</b>
                    <br>
                    Descriere: {{produs.descriere}}
                    <br>
                    <b>Pret: {{produs.pret}}</b>
                </div>
            </ng-container>
        </mat-tab>

        <mat-tab label="Produsle Mele">
            <div *ngIf="this.iduser==null">
                Nu suntei logat!
            </div>
            <div *ngIf="this.iduser!=null">
                <button mat-raised-button type="button" (click)="produsNou()">Adauga Produs</button>
                <ng-container *ngFor="let produs of this.ProduseleMele">
                    <hr>
                    <div class="produs">
                        <br>
                        <b> Produs: {{produs.denumire}}</b>
                        <br>
                        Descriere: {{produs.descriere}}
                        <br>
                    <b>Pret: {{produs.pret}}</b>
                    </div>
                    <div class="buttons">
                        <button mat-raised-button type="button" (click)="EditareProdus(produs.id)">Editare Produs</button>
                        <button mat-raised-button type="button" (click)="StergereProdus(produs.id)">Stergere Produs</button>
                    </div>
                </ng-container>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>