h1 {
  font-size: 60px;
}

.allPage {
  margin-left: 100px;
  overflow-y: hidden;
}

.lista_produse_masa {
  border: solid 2px;
}

.lista_produse {
  margin-right: 10%;
}

.main_masa {
  display: flex;
  margin-top: 5%;
}

.add_mancare {
  margin-top: 20px;
}

.add_bautura {
  margin-top: 20px;
}

.table_masa {
  width: 700px;
}

.table_masa th {
  text-align: center;
  padding: 20px 0px;
  color: #DD782F;
}

.table_masa td {
  text-align: center;
}

.eliberare_masa {
  margin: 30px;
  background-color: #FFB4B4;
  border: 2px solid #E04949;
  color: #E04949;
  background-color: transparent;
  padding: 5px 25px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 500px;
}
