.title{
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  margin-top: 20px;
  width: 100%;
  display: inline-block;
}
a{
    color: black;
    margin-right: 80%;
}
a:visited{
    clear: black;
}
.loginStatus{
  float: right;
  position: relative;
  display: inline-block;
  width: 21%;
}

.loginStatus span{
  font-weight: bold;
  color: #DD782F;
  margin-right: 10px;
}
