<div class="login">
    <mat-form-field>
        <mat-label>
            Utilizator
        </mat-label>
        <input matInput placeholder="Utilizator" type="text" [formControl]="inputUsername">
        <mat-error *ngIf="inputUsername.hasError('required')">
            Campul este obligatoriu
        </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>
            Parola
        </mat-label>
        <input matInput placeholder="Parola" type="password" [formControl]="inputPassword">
        <mat-error *ngIf="inputPassword.hasError('required')">
            Campul este obligatoriu
        </mat-error>
    </mat-form-field>
    <br>
    <div class="error">
        {{this.error}}
    </div>

    <button mat-raised-button type="button" color="lightorange" (click)="login()">Logare</button>
    <br>

</div>
